/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/* application.css */

/* Style général de la page */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

/* Style du titre principal */
h1 {
  color: #333;
  text-align: center;
  margin-top: 50px;
}

/* Style du paragraphe */
p {
  font-size: 16px;
  line-height: 1.5;
  margin: 20px;
  text-align: center;
}

a {
  display: inline-block;  /* L'élément est inline-block, donc nous pouvons le centrer avec text-align sur le parent */
  color: #fff;
  background-color: #007BFF;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  margin: 20px auto;  /* Centrer horizontalement s'il devient un élément block */
}

/* Si le bouton est dans une div, par exemple, cette règle le centrera horizontalement */
div {
  text-align: center;
}

a:hover {
  background-color: #0056b3;
}
